<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/base.css}" />
    <style>
        /* 회원 가입폼에 대한 스타일 */
        #join { border: 1px solid blue; width:300px; margin: 0 auto;}
        #join > div { margin-bottom: 10px; }
        #join > div > label { display: inline-block;width: 120px; text-align: right; font-weight: bold; padding-right: 10px; }
        #join > div > input { padding : 3px; }
        #join > div > button:nth-child(1) { margin-left: 130px;}
    </style>
</head>
<body>
    <div id="container">
        <th:block th:include="inc/header"></th:block>
        <div id="main">
            <h1>회원 가입</h1>
            <form name="join" id="join" action="/join">
                <div>
                    <label for="uid">아이디</label><input type="text" name="userid" id="uid">
                    <label></label><span id="checkmsg"></span>
                </div>
                <div><label for="pwd">비밀번호</label><input type="text" name="passwd" id="pwd"></div>
                <div><label for="rpw">비밀번호 확인</label><input type="text" name="repwd" id="rpw"></div>
                <div><label for="nm">이름</label><input type="text" name="name" id="nm"></div>
                <div><label for="eml">이메일</label><input type="text" name="email" id="eml"></div>

                <div>
                    <button type="button" id="okbtn">입력완료</button>
                    <button type="reset">다시입력</button>
                </div>
            </form>
        </div>
        <th:block th:include="inc/footer"></th:block>
    </div>
    <script>
        let okbtn = document.getElementById("okbtn");
        let idFlag = false;

        function checkJoinFrm() {
            let uid = document.getElementById("uid");
            let pwd = document.getElementById("pwd");
            let rpw = document.getElementById("rpw");
            let nm = document.getElementById("nm");
            let eml = document.getElementById("eml");

            if (uid.value == '') alert('아이디를 입력 해 주세요');
            else if (pwd.value == '') alert('비밀번호를 입력 해 주세요');
            else if (rpw.value != pwd.value) alert('비밀번호 확인을 일치하지 않아요');
            else if (nm.value == '') alert('이름을 입력 해 주세요');
            else if (eml.value == '') alert('이메일을 입력 해 주세요');
            else if (!idFlag) alert("아이디 중복 체크를 확인해 주세요");
            else {
                let frm = document.join;
                frm.method = 'post';
                frm.submit();
            }
        }

        let uid = document.querySelector("#uid");
        okbtn.addEventListener("click", checkJoinFrm);
        // 아이디 중복검사
        // /checkuid/{userId} 의 userId 를 이용해서 중복여부를 확인
        uid.addEventListener("blur", () => {
            let req = new XMLHttpRequest();     // 1. ajax 객체 생성
            req.onreadystatechange = () => {    // 4. 응답 받은 후 처리
                // readyState : 0, 1(서버연결), 2(요청보냄), 3(요청처리), 4 (처리 완료, 응답 완료)
                if (req.readyState == XMLHttpRequest.DONE) {
                    if (req.status == 200) {
                        let text = req.response;
                        checkuserid(text);
                    }
                }
            }

            req.open('get', `/checkuid/` + uid.value);  // 2. 서버 요청 방식 정의
            req.send();                                 // 3. 서버 요청 보냅
            /*fetch(`/checkuid/` + uid.value)
                .then(response => response.text())
                .then(text => checkuserid(text))*/

            function checkuserid(result) {
                let msgArea = document.querySelector("#checkmsg");

                if (result == '1') {
                    idFlag = false;
                    msgArea.innerHTML = "사용 불가능한 아이디 입니다.";
                    msgArea.style.color = 'red';
                }
                else {
                    idFlag = true;
                    msgArea.innerHTML = "사용 가능한 아이디 입니다.";
                    msgArea.style.color = 'blue';
                }
            }
        });
    </script>
</body>
</html>